/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-image: url('kobe01-0.png'); /* 背景画像の設定 */
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans JP', sans-serif; /* 日本語フォントの適用 */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ログインしたメールを表示する領域スタイル */
#email-display {
    background-color: rgba(0, 0, 0, 0.7); /* 半透明の黒い背景 */
    color: white; /* 文字色 */
    padding: 10px 20px; /* 内部余白 */
    border-radius: 20px; /* 楕円形を作るための丸い角 */
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 16px;
    z-index: 1000;
}

/* パスワード変更入力コンテナスタイル */
.change-password-container {
    background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.change-password-container h2 {
    margin-bottom: 20px;
}

.change-password-container input {
    width: 100%;
    max-width: 250px; /* 入力フィールドの最大幅設定 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    justify-content: center; /* ボタンを中央揃え */
    gap: 20px; /* ボタン間の間隔調整 */
    margin-top: 20px; /* 上部余白追加 */
}

.button-container button {
    padding: 10px 20px;
    background-color: #55451a;
    font-family: 'Noto Sans JP', sans-serif; /* 日本語フォントの適用 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #c2c457;
}

/* モーダルスタイル */
.modal {
    display: none; /* 基本的にモーダルを隠す */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の背景 */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #55451a;
    font-family: 'Noto Sans JP', sans-serif; /* 日本語フォントの適用 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #c2c457;
}
